@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.resume {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px !important;
}

.left {
  flex: 0.25;
  background-color: #013048;
  padding: 25px;
}

.title__section {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.title__name {
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3px;
}

.title__designation {
  margin-top: 5px;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 16px;
}

.seperator {
  width: 90%;
  margin: 0 auto;
  background-color: #d3d3d3;
  height: 0.07px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.contact__section {
  display: flex;
  color: #fff;
  flex-direction: column;
}

.contact__title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 30px;
}

.contact__options {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact__options > span {
  font-size: 12px;
  margin-left: 10px;
}

.contact__options > span:hover {
  cursor: pointer;
}

.right {
  flex: 0.75;
  background-color: aqua;
}
